# ─── Entorno ───────────────────────────────────────────────
NODE_ENV=test

# ─── Servidor ──────────────────────────────────────────────
PORT=

# ──── Dummy base de datos ──────────────────────────────────────────────────────────
DATABASE_URL=mysql://fake:fake@localhost:3306/fake

# ─── JWT ───────────────────────────────────────────────────
JWT_SECRET=

# ─── CORS ──────────────────────────────────────────────────
CORS_ORIGIN=*
